{% extends 'base/base.html' %}

{% block title %}Supplier List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Panel de Control</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Panel de Control</a></li>
                            <li><a href="#">Proveedor</a></li>
                            <li class="active">Lista</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Lista de proveedores</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Correo electronico</th>
                                <th>Fecha</th>
                                <th>Acciones</th> <!-- Added column for actions -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if supplier %}
                            {% for supplier in supplier %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ supplier.name }}</td>
                                <td>{{ supplier.address }}</td>
                                <td>{{ supplier.user.email }}</td>
                                <td>{{ supplier.created_date }}</td>
                                <td>
                                    <a href="{% url 'generic-edit' 'supplier' supplier.id %}" class="btn btn-success">Edit</a> <!-- Updated URL name -->
                                    <form action="{% url 'generic-delete' 'supplier' supplier.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr><td colspan="6">No hay informacion</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-12 -->
</div>
{% endblock content %}
